body {
  padding: 20px;
}

div {
  white-space: pre;
}

.list-group-item {
  margin: 2px;
  cursor: pointer;
  background-color: #ddd;
  display: inline;
  float: left;
  width: 300px;
}

.return-button {
  float: right;
}

.business-detail {
  padding-top: 5px;
  text-align: left;
  font-size: 22px;
}

.ol-img {
  float: left;
}

.pagination {
  float: left;
}

.pagination ul {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.pagination li {
  display: inline;
}

.pagination li a {
  color: black;
  float: left;
  padding: 8px 16px;
}

.pagination li.active a {
  background-color: #788;
  color: #000;
}

.pagination li:hover:not(.active) a {
  background-color: #333;
  color: #eee;
}